.itemdetailcard{
    width: 1024px;
    height: 566px;
    display: flex;
}

.itemdetail__img-c{
    position: relative;
    width: 584px;
    height: 566px;
    padding: 40px 48px 41px 71px;
    background-color: #fff;
    border-radius: 12px;
}

.imgdetail{
    width: 100%;
    height: 100%;
}

.imgdetail-stars{
    width: 71px;
   position: absolute;
   top: 0;
   left: 0;
}

.itemdetail__info{
    width: 400px;
    margin-left: 40px;
    color: #fff;
}

.itemdetail__info-h1{
    margin-bottom: 20px;
}

.itemdetail__info-p1{
    margin-bottom: 24px;
    font-weight: bold;
}
.itemdetail__info-p3{
    margin-bottom: 40px;
}

.goToCart{
    text-decoration: none;
}

.goToCart-div{
    width: 256px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: transparent;
}

.goToCart-p{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}