.cartListContainer{
    display: flex;
    width: 100%;
    height: 100vh;
}


.cartListContainer__left{
    width: 70%;
    height: 100%;
    background-color: #e2e2e2;
}
.cartListContainer__right{
    width: 30%;
    height: 100%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.initBuyBtnTrue{
    width: 140px;
    height: 50px;
    padding: 15px;
    border: none;
    background-color: blue;
    color: #e2e2e2;
    cursor: pointer;
}

.initBuyBtnFalse{
    pointer-events: none;
    width: 140px;
    height: 50px;
    padding: 15px;
    border: none;
    background-color: #999;
    color: #e2e2e2;
}