.cardCounter{
    width: 400px;
    display: flex;
}

.cardCounter__inner{
    width: 134px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}

.cardCounter__inner-btn{
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardProduct__inner-input{
    width: 48px;
    height: 48px;
    padding: 12px 8px;
    border: 1px solid #fff;
    border-radius: 6px;
    background: transparent;
    color: #fff;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.cardCounter__inner-btnAdd{
    width: 256px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 6px;
    background-color: #D7CF07;
}

.cardCounter__inner-btnAdd-cartImg{
    width: 20px;
}

.cardCounter__inner-btnAdd-p{
    font-size: 16px;
    font-weight: 600;
}