.cardCounter{
    width: 250px;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cardCounter__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.cardProduct__inner-input{
    width: 30px;
    height: 25px;
    text-align: center;
    margin: 0 10px 0 10px;
}

.cardCounter__inner-btn{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardCounter__inner-btnAdd{
    padding: 5px;
}